# Ignore everything
/*

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# Except these
# !exampleFile.txt
# !exampleDir/

# --- Files ---
# Meta
!.gitignore
!TODO.md
!README.md

# Python
!zeroOneRoute.py
!isingWorm.py
!graphFunctions.py
!plotGraph.py

# Directories
!literature/
!figures/
!data/
