# Ignore everything
/*

# Ignore all files named .DS_Store, __pycache__ or ending with .log, .pyc
**.log
**.pyc
**/.DS_Store
**/__pycache__

# Ignore data files
data/*

# Except these
# !exampleFile.txt
# !exampleDir/

# --- Files ---
# Meta
!.gitignore
!README.md
!TODO.md
!recGraph.py

# Python
!graphs.py
!hoshenKopelman.py
!indexClusters.py
!isingWorm.py
!plotGraph.py
!utils.py

# Directories
!data/
!figures/
!literature/
!test/
