# Ignore everything
/*

# Ignore all files named .DS_Store, __pycache__ or ending with .log, .pyc
**.log
**.out
**.o
**.pyc
**/.DS_Store
**/__pycache__

# Ignore data files
data/*
cpp/build/*
cpp/Tutorial/*

# Except these
# !exampleFile.txt
# !exampleDir/

# --- Files ---
# Meta
!.gitignore
!README.md
!TODO.md

# Directories
!cpp/
!latex/
!literature/
!python/
