.pyenv/
build/*
build/latex/*
build/html/*
shell/
old_index/
pyplot/plots/frames/
pyplot/plots/2dising_animation.pdf
pyplot/plots/3dxy_animation.pdf
pyplot/plots/3dxy_animation_still.pdf
pyplot/plots/3dxy_largest_cluster.pdf
